body {
  background: white;
  margin: 0px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color:#181717;
  line-height: 1.5em;
  letter-spacing: .2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight:500;
 }

.display {
  width:100%;
  height:720px;
  padding:0;
  margin:0;
  background-color: #fbf2ef;
  margin-bottom:3em;
}

.header {
  height:80px;
  display:flex;
  width:74%;
  align-items: center;
  justify-content:center;
  justify-content: space-between;
}
.logo img{
    height:60px;
    width:auto;
    margin-left:1em;
    margin-top:10px;
}

.call-request {
  color: #494545;
}

.banner {
  display:flex;
  flex-direction: row;
  width:100%;
  height:560px;
  justify-content: space-between;
}

.project-title-col {
  height:560px;
  display:flex;
  flex-direction: column;
  width:26%;
  flex-grow:1;
  justify-content: flex-end;
  }

.project-display-col {
  display:flex;
  width:70%;
  overflow:hidden;

}
.uppertitle, .title, .status {
  color:#181717;
  padding-left:2em;
}


.project-title-col:before {
    content: '';
}

.project-display {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:#f8f8f8;
}
.project-display img {
    width:100%;
}

h1 {
    color:#181717;
    font-size: 2.6em;
    font-family: FreightText Pro Bold;
    line-height: 1.1em;
    margin:0;
    padding-bottom:1em;
}

h2 {
    color:#181717;
    font-size: 2em;
    font-family: FreightText Pro Bold;
    line-height: 1.1em;
    margin:0;
    padding-bottom:1em;
}

h3 {
  font-size: 16px;
  color:#494545;
  line-height: 1.5em;
}
.menu {
  width:74%;
  height:80px;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items:center;
}

.menu-icn,.menu-text {
padding: 0.3em;
}

.menu-icn img {
  display: block;
  width: 24px;
  height: auto;
}

article {
  display:flex;
  width:100%;
  flex-direction: column;
  align-items: center;
}
.article-col, .footnote-col {
  width:46%;
  align-items:center;
  justify-content:center;
}
.footnote-col {
  margin-botton:3em;
}
p {
  font-size:1.24em;
  line-height:1.5em;
  font-family:FreightText Pro Book;
  color:#181717;
}

footer {
  margin-top:6em;
  height:240px;
  width:100%;
  background-color:#fbf2ef;
  display:flex;
     flex-direction: row;
   justify-content: flex-end;
}
.footer-container {
  width:74%;
  height:240px;
   display: flex;
   align-items:center;
}
.nasoku-info-col {
  width:74%;
}

.next-project-col {
  width:26%;
}


// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";