body {
  background: white;
  margin: 0px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #181717;
  line-height: 1.5em;
  letter-spacing: .2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none; }

a {
  text-decoration: none; }

.display {
  width: 100%;
  height: 720px;
  padding: 0;
  margin: 0;
  background-color: #fbf2ef;
  margin-bottom: 3em; }

.header {
  height: 80px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  justify-content: space-between; }

.logo img {
  height: 60px;
  width: auto;
  margin-left: 1em;
  margin-top: 10px; }

.call-request {
  color: #494545; }

.banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 560px;
  justify-content: space-between; }

.project-title-col {
  height: 560px;
  display: flex;
  flex-direction: column;
  width: 26%;
  flex-grow: 1;
  justify-content: flex-end; }

.project-display-col {
  display: flex;
  width: 70%;
  overflow: hidden; }

.uppertitle, .title, .status {
  color: #181717;
  padding-left: 3em; }

.project-title-col:before {
  content: ''; }

.project-display {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f8f8f8; }

.project-display img {
  width: 100%; }

h1 {
  color: #181717;
  font-size: 2.6em;
  font-family: FreightText Pro Bold;
  line-height: 1.1em;
  margin: 0;
  padding-bottom: 1em; }

h2 {
  color: #181717;
  font-size: 2em;
  font-family: FreightText Pro Bold;
  line-height: 1.1em;
  margin: 0;
  padding-bottom: 1em; }

h3 {
  font-size: 16px;
  color: #494545;
  line-height: 1.5em; }

h4 {
  color: #181717;
  font-size: 1.6em;
  font-family: FreightText Pro Bold;
  line-height: 1.1em;
  margin: 0;
  padding-bottom: 1em; }

.menu {
  width: 80%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.menu-icn, .menu-text {
  padding: 0.3em; }

.menu-icn img {
  display: block;
  width: 24px;
  height: auto;
  cursor: pointer; }

.menu-close img {
  display: block;
  width: 20px;
  height: auto;
  padding-right: 0.3em;
  cursor: pointer; }

article {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center; }

.article-col, .footnote-col {
  width: 46%;
  align-items: center;
  justify-content: center; }

.footnote-col {
  margin-bottom: 3em; }

p {
  font-size: 1.24em;
  line-height: 1.5em;
  font-family: FreightText Pro Book;
  color: #181717; }

footer {
  margin-top: 6em;
  height: 240px;
  width: 100%;
  background-color: #fbf2ef;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.footer-container {
  width: 74%;
  height: 240px;
  display: flex;
  align-items: center; }

.nasoku-info-col {
  width: 74%; }

.next-project-col {
  width: 22%;
  padding-right: 2em; }

.menu-expanded {
  height: 660px;
  position: absolute;
  background: #fbf2ef;
  top: 0;
  display: flex;
  flex: 1;
  width: 100%; }

.logo-menu img {
  height: 56px;
  width: auto; }

.nav-col-1 {
  display: flex;
  width: 20%;
  padding-top: 8em;
  justify-content: flex-end;
  margin-right: 20em; }

.nav-col-2 {
  display: flex;
  width: 34%;
  flex-direction: column;
  padding-top: 8em;
  margin-right: 6em; }

.nav-col-3 {
  display: flex;
  width: 32%;
  flex-direction: column;
  padding-top: 16em; }

.nav-label, .contact {
  font-size: 0.8em;
  color: dimgray; }

@media (min-width: 1920px) {
  .display {
    height: 1020px;
    margin-bottom: 3em; }

  .banner {
    height: 860px; }

  .project-title-col {
    height: 860px;
    width: 16%; }

  .project-display-col {
    width: 80%; }

  .project-display img {
    width: 100%; }

  .article-col, .footnote-col {
    width: 38%; }

  .menu-expanded {
    height: 940px;
    position: absolute;
    background: #fbf2ef;
    top: 0;
    display: flex;
    flex: 1;
    width: 100%; }

  .logo-menu img {
    height: 56px;
    width: auto; }

  .nav-col-1 {
    display: flex;
    width: 28%;
    padding-top: 12em;
    justify-content: flex-end;
    margin-right: 24em; }

  .nav-col-2 {
    display: flex;
    width: 22%;
    flex-direction: column;
    padding-top: 12em;
    margin-right: 12em; }

  .nav-col-3 {
    display: flex;
    width: 32%;
    flex-direction: column;
    padding-top: 28em; }

  .nav-label, .contact {
    font-size: 0.8em;
    color: dimgray; } }
@media (max-width: 1024px) {
  .display {
    height: 620px; }

  .banner {
    height: 460px; }

  .project-title-col {
    height: 460px;
    width: 20%; }

  .project-display-col {
    width: 70%; }

  .article-col, .footnote-col {
    width: 48%; }

  h1 {
    font-size: 1.6em; }

  h2 {
    font-size: 1em; }

  h3 {
    font-size: 12px;
    line-height: 1.5em; }

  .menu-icn img {
    width: 16px; }

  .logo img {
    height: 44px; }

  p {
    font-size: 1em;
    line-height: 1.4em; }

  .menu-expanded {
    height: 540px; }

  .menu-close img {
    width: 16px; }

  .nav-col-1 {
    width: 20%;
    padding-top: 6em;
    margin-right: 6em; }

  .nav-col-2 {
    width: 38%;
    padding-top: 6em;
    margin-right: 2em; }

  .nav-col-3 {
    width: 16%;
    padding-top: 12em; } }

/*# sourceMappingURL=style.css.map */
