body {
  background: white;
  margin: 0px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color:#535353;
  line-height: 1.5em;
  letter-spacing: .2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight:500;
 }

.display {
  width:100%;
  padding:0;
  margin:0;
  background-color: #fbf2ef;
}

.header {
  width:100%;
  height:80px;
  display:flex;
}

.logo {

  img {

  }
}

.call-request {
  color: #494545;
}

.banner {
  display:flex;
  flex-direction: row;
}

.project-title-col {
  display:flex;
  width:26%;
}

.project-display-col {
  display:flex;
  width:74%;

}
.uppertitle, .title, .status {
  color:#181717;
}

h1 {
    color:#181717;
    font-size: 2.6em;
    font-family: FreightText Pro Bold;
}

.menu {
  width:74%;
  text-align: right;
}

.menu-icn {
      
}

.article {
  display:flex;
  width:100%
}
.article-col {
  width:50%;
  align-items:center;
  justify-content:center;
}

.article-content {
}

p {
  font-size:1em;
  font-family:FreightText Pro Book;
  color:#181717;
}